{
  "plugins": ["@double-great/stylelint-a11y"],
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-recommended-vue/scss",
    "@double-great/stylelint-a11y/recommended"
  ]
}
